{% extends "layouts/admin.twig" %}

{% block content %}
<div class="float-end">
	<a href="/admin/post/add">
		New post
	</a>
</div>

<h2>All posts</h2>

<table class="table table-hover">
	<thead>
		<tr>
			<th>Title</th>
			<th>Date</th>
			<th>Status</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		{% for post in posts %}
		<tr>	
			<td>{{ post.getTitle() }}</td>
			<td>{{ post.getDate()|date('d.m.Y') }}</td>
			<td>
				{% set status = post.getStatus() %}

				{% if status == "PUBLISHED" %}
				<span class="badge bg-success w-100">
					Published
				</span>
				{% elseif status == "DRAFT" %}
				<span class="badge bg-primary w-100">
					Draft
				</span>
				{% elseif status == "DISABLED" %}
				<span class="badge bg-danger w-100">
					Disabled
				</span>
				{% endif %}
				
				<span></span>
			</td>
			<td>
				<a href="/admin/post/edit/{{ post.getSlug() }}">
					Edit
				</a>
			</td>
		</tr>		
		{% endfor %}
	</tbody>
</table>
{% endblock %}