{% extends "layouts/admin.twig" %}

{% block content %}
<h2>New post</h2>

<form method="post" class="mt-3">
	<input class="form-control mb-2" type="text" name="title" placeholder="Title" required>
	<input class="form-control mb-2" type="text" name="slug" placeholder="Slug" required>
	<input class="form-control mb-2" type="date" name="date" required>
	<input class="form-control mb-2" type="text" name="author" placeholder="Author" required>

	<button class="btn btn-primary" type="submit">
		Create draft
	</button>
</form>
{% endblock %}