
<div class="mt-2">
	<a
		class="social-icons"
		target="_blank"
		href="https://github.com/bouzourene"
		data-bs-toggle="tooltip"
		data-bs-placement="bottom"
		data-bs-title="GitHub"
	>
		<i class="fa-brands fa-github-alt mx-1"></i>
	</a>
	<a
		class="social-icons"
		target="_blank"
		href="https://www.linkedin.com/in/william-maillard-83410a1ba/"
		data-bs-toggle="tooltip"
		data-bs-placement="bottom"
		data-bs-title="LinkedIn"
	>
		<i class="fa-brands fa-linkedin mx-1"></i>
	</a>
	<a
		class="social-icons"
		target="_blank"
		href="https://old.reddit.com/user/z666ro"
		data-bs-toggle="tooltip"
		data-bs-placement="bottom"
		data-bs-title="Reddit"
	>
		<i class="fa-brands fa-reddit-alien"></i>
	</a>
	<a
		class="social-icons"
		target="_blank"
		href="https://news.ycombinator.com/user?id=maillardw"
		data-bs-toggle="tooltip"
		data-bs-placement="bottom"
		data-bs-title="Hacker News"
	>
		<i class="fa-brands fa-hacker-news mx-1"></i>
	</a>
	<a
		class="social-icons"
		target="_blank"
		href="#"
		data-href-decode="{{ mailto }}"
		data-bs-toggle="tooltip"
		data-bs-placement="bottom"
		data-bs-title="Shoot me an email"
	>
		<i class="fa-solid fa-inbox mx-1"></i>
	</a>
</div>