{% extends "layouts/general.twig" %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-8">
			<h1 class="mb-3">
				Hello, I'm William Bouzourène
			</h1>

			<p class="text-justify">
				I’m a full-stack developer living and working around Lausanne, Switzerland.
			</p>
			<p class="text-justify">
				I’ve been working in IT since 2013 and I've seen a lot of different specializations
				(Software engeneering, System administration, Network administration, etc...)
			</p>
			<p class="text-justify">
				You can find my side projects (alive or dead) on my
				<a href="https://github.com/bouzourene" target="_blank">GitHub profile</a>.
			</p>
			<p class="text-justify">
				If you have any questions, suggestions, or would like to discuss a project then
				please email me. I'd be happy to hear from you. I'm fluent in both English and French.
			</p>
			<p class="text-justify f-bold">
				<i>PS: This blog is only a passion project and does not represent my employer in any way.</i>
			</p>
		</div>
		<div class="col-md-4 text-center pt-4">
			<img src="/assets/images/william-about.jpg?v=2" class="img-fluid" alt="William">

			{% include "partials/socials.twig" %}
		</div>
	</div>
</div>
{% endblock %}