{% extends "layouts/general.twig" %}

{% block content %}
<div class="text-center">
	<img src="/assets/images/william-home.jpg" class="img-fluid img-profile-home mx-auto mb-3" alt="William">
	<span class="h4">William Bouzourène</span>

	{% include "partials/socials.twig" %}
</div>

{% endblock %}