{% extends "layouts/general.twig" %}

{% block content %}

<h1 class="mb-4">Some useful tools I made</h1>

<ul class="list-group my-2">
	<li class="list-group-item blog-box">
		<a target="_blank" href="https://ip.xz6.ch">My IP address</a>
	</li>
</ul>

{% endblock %}