{% extends "layouts/general.twig" %}

{% block content %}

<h1 class="mb-4">Some useful tools I made</h1>

<ul class="list-group my-2">
	<li class="list-group-item blog-box">
		<a target="_blank" href="https://monip.ch">MonIP.ch</a>
		(created it, now it's being hosted and managed by ProGest SA)
	</li>
</ul>

{% endblock %}