{% extends "layouts/general.twig" %}

{% block content %}

<h1 class="post-title">
	{{ post.getTitle() }}
</h1>

<div class="text-muted my-4">
	<span>Published on</span>
	<span class="text-bold">{{ post.getDate()|date("d.m.Y") }}</span>
	<span>by</span>
	<span class="text-bold">{{ post.getAuthor() }}</span>
</div>

<article class="post-article">
	{{ post.getHtml()|raw }}
</article>

{% endblock %}