{% extends "layouts/general.twig" %}

{% block content %}

<div class="row">
	<div class="col-lg-8">
	
		<h1>{{ post.getTitle() }}</h1>

	</div>
	<div class="col-lg-4">
	
		<table>
			<tr>
				<td>Published on</td>
				<td class="px-4"></td>
				<td class="text-end text-bold">{{ post.getDate()|date("d.m.Y") }}</td>
			</tr>
			<tr>
				<td>Article author</td>
				<td class="px-4"></td>
				<td class="text-end text-bold">{{ post.getAuthor() }}</td>
			</tr>
		</table>

	</div>
</div>

<hr>

{{ post.getHtml()|raw }}

{% endblock %}